@CHARSET "UTF-8";

* {
	margin: 0; /*デフォルトの余白をリセット*/
	padding: 0; /*デフォルトの余白をリセット*/
}

/*フッター*/
footer {
	width: 100%; /*フッター幅*/
	height: 70px; /*フッター高さ*/
	background-color: #c0c0c0; /*フッター背景色*/
	position: fixed; /*絶対位置で場所を固定*/
	bottom: 0; /*固定位置*/
}

.logo {
	text-align: center; /*文字位置*/
	padding-top: 10px; /*要素内側余白*/
}

h4 {
	text-align: center; /*文字位置*/
	margin: 0 auto; /*中央寄せ*/
	padding: 5px 0; /*要素内側余白*/
}